interactions:
- request:
    body: ''
    headers:
      authorization:
      - FILTERED
    method: GET
    uri: https://api.tickettailor.com/v1/events?start_at.gte=1744549029&end_at.lte=1749733029&status=published&limit=5
  response:
    content: '{"data":[{"object":"event","id":"ev_5943073","access_code":null,"bundles":[],"call_to_action":"Buy
      tickets","checkout_url":"https://tickets.cinesociety.pt/checkout/view-event/id/5943073/chk/59d9/","chk":"59d9","created_at":1743692936,"currency":"eur","description":"\u003Ch2\u003E\u003Cspan
      style=\u0022font-size:16px;\u0022\u003EAsteroid City at \u003Ca href=\u0022https://maps.app.goo.gl/vQtSRF88S6aTDTj98\u0022
      target=\u0022_blank\u0022 rel=\u0022nofollow noreferrer noopener\u0022\u003EDoca
      da Marinha\u003C/a\u003E, Lisboa\u003C/span\u003E\u003C/h2\u003E\n\u003Cp\u003EStep
      into Wes Anderson\u2019s meticulously crafted world with \u003Cem\u003EAsteroid
      City\u003C/em\u003E, a visually stunning and delightfully quirky tale of stargazers,
      mysteries, and mid-century Americana. Watching it beneath Lisbon\u2019s vast
      night sky, right by the River Tejo, adds an almost cosmic dimension\u2014like
      you\u2019re part of the film\u2019s whimsical universe.\u00a0\u003C/p\u003E\n\u003Cp\u003EArrive
      early for sunset drinks, enjoy some tasty snacks, and maybe even grab dinner
      at one of the three nearby quiosque restaurants -\u003Ca href=\u0022https://www.instagram.com/streetfoodmarket.lx/\u0022
      target=\u0022_blank\u0022 rel=\u0022nofollow noreferrer noopener\u0022\u003E
      the iconic red, blue and yellow trio\u003C/a\u003E - before settling in with
      the freshest popcorn around. The coolest cinema vibes, guaranteed.\u003C/p\u003E\n\u003Cp\u003E\u003Cstrong\u003EWe
      open at 20h00\u003C/strong\u003E\u003Cbr /\u003E\n\u003Cstrong\u003EMovie Starts
      at 21h00\u003C/strong\u003E\u003C/p\u003E\n\u003Cp\u003ERated: M/12\u003C/p\u003E","end":{"date":"2025-05-10","formatted":"Sat
      10 May 2025 23:00","iso":"2025-05-10T23:00:00+01:00","time":"23:00","timezone":"+01:00","unix":1746914400},"event_series_id":"es_1655348","hidden":"true","images":{"header":"https://uploads.tickettailor.com/c_crop,dpr_1.0,h_635,q_100,w_2000,x_0,y_1/c_scale,g_center,h_373,q_85,w_1172/v1/production/userfiles/tro7f0cx4nxjarwucv3j.jpg?_a=BAAAV6DQ","thumbnail":"https://uploads.tickettailor.com/c_crop,dpr_1.0,h_620,q_100,w_620,x_0,y_190/c_scale,h_250,q_85,w_250/v1/production/userfiles/gwarhwpn2it6kfyjedgz.jpg?_a=BAAAV6DQ"},"max_tickets_sold_per_occurrence":null,"name":"Asteroid
      City","online_event":"false","override_id":null,"payment_methods":[{"id":"pm_17686","external_id":"acct_1AOmP9FJ48qMn3FS","instructions":null,"name":null,"type":"stripe"}],"private":"false","revenue":464,"start":{"date":"2025-05-10","formatted":"Sat
      10 May 2025 20:00","iso":"2025-05-10T20:00:00+01:00","time":"20:00","timezone":"+01:00","unix":1746903600},"status":"published","ticket_groups":[],"ticket_types":[{"object":"ticket_type","id":"tt_5014067","access_code":null,"booking_fee":0,"description":null,"discounts":[],"group_id":null,"has_overrides":"false","hide_after":null,"hide_until":null,"hide_when_sold_out":"false","max_per_order":20,"min_per_order":1,"name":"Deckchair
      Delight","override_id":null,"price":1450,"quantity":132,"quantity_held":0,"quantity_in_baskets":0,"quantity_issued":28,"quantity_total":160,"show_quantity_remaining":"false","show_quantity_remaining_less_than":null,"sort_order":10000,"status":"on_sale","type":"GA"}],"tickets_available":"true","tickets_available_at":null,"tickets_available_at_message":"Tickets
      are available in {countdown}","tickets_unavailable_at":null,"tickets_unavailable_at_message":"Tickets
      are no longer available","timezone":"Europe/Lisbon","total_holds":0,"total_issued_tickets":28,"total_orders":14,"unavailable":"false","unavailable_status":null,"url":"https://www.tickettailor.com/events/cinesociety/1655348?","venue":{"name":"Doca
      da Marinha","postal_code":null},"voucher_ids":[],"waitlist_active":"false","waitlist_call_to_action":"Join
      waiting list","waitlist_confirmation_message":"Done! You are on the waiting
      list.","waitlist_event_page_text":"Join our waiting list to be notified when
      tickets become available."},{"object":"event","id":"ev_5943074","access_code":null,"bundles":[],"call_to_action":"Buy
      tickets","checkout_url":"https://tickets.cinesociety.pt/checkout/view-event/id/5943074/chk/5e3f/","chk":"5e3f","created_at":1743692939,"currency":"eur","description":"\u003Ch2\u003E\u003Cspan
      style=\u0022font-size:16px;\u0022\u003ELa La Land at \u003Ca href=\u0022https://maps.app.goo.gl/We1nLhzXyjuvRJYQ8\u0022
      rel[...]
